.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
  align-self: center;
}

.buttons {
  display: flex;
  margin-top: -200px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}

.headings {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.headings .login-img {
  width: 60%;
  margin-bottom: 40px;
}